header {
    width: 100%;
    background-color: #051022;
    padding: 1.2rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.highlight {
    color: #a855f7;
}